<% if category.present? %>
  <div id="category-item-<%= category.id %>" class="category-item">
    <%= category.name %>
    <%= category.duration %>
    <%= category.word_count %>
    <%= link_to t("button_edit"), edit_admin_category_path(category), class:
      "btn btn-primary", "data-toggle": "modal", "data-target":
      "#category-modal" %>
    <%= link_to t("button_delete"), [:admin, category], method: :delete, data: {
      confirm: t("confirm_delete_message")}, class: "btn btn-danger", remote: true %>
    <br>
  </div>
<% end %>
