<% provide :title, @category.name %>

<div class="row jumbotron">
  <h1><%= @category.name %></h1>
  <h4><%= t "label_word_per_lesson" %>  <%= @category.word_count %></h4>
  <h4><%= t "duration_title" %>  <%= @category.duration %></h4>
</div>

<div class="container">
  <ul class="nav nav-tabs">
    <li class="active">
      <a data-toggle="tab" href="#lessons-content"><%= t "link_lessons" %></a>
    </li>
    <li>
      <a data-toggle="tab" href="#words-content"><%= t "link_words" %></a>
    </li>
  </ul>
  <div class="tab-content">
    <div id="words-content" class="tab-pane fade">
      <%= render "words/search_form" %>
      <div id="word-content">
        <%= render @words %>
      </div>
      <%= will_paginate @words %>
    </div>

    <div id="lessons-content" class="tab-pane fade in active">
      <%= form_for @support.lesson, remote: true do |f| %>
        <%= f.hidden_field :category_id, value: @category.id %>
        <%= f.submit t("create_lesson"), class: "btn btn-primary" %>
      <% end %>
      <div id="div-lesson-list">
        <% if @support.lessons.any? %>
          <% @support.lessons.each do |lesson| %>
            <%= render "lessons/lesson_item", lesson: lesson %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
